<!DOCTYPE html>
<html  xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
<title>Cat-联系我</title>
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="keywords" content="" />
<script type="application/x-javascript"> addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false); function hideURLbar(){ window.scrollTo(0,1); } </script>
<!-- Custom Theme files -->
<link href="css/bootstrap.css" th:href="@{/css/bootstrap.css}" type="text/css" rel="stylesheet" media="all">
<link href="css/style.css" th:href="@{/css/style.css}" type="text/css" rel="stylesheet" media="all">   
<link href="css/font-awesome.css" th:href="@{/css/font-awesome.css}"  rel="stylesheet"> <!-- font-awesome icons -->
<!-- //Custom Theme files --> 
<!-- js -->
<script src="js/jquery-2.2.3.min.js" th:src="@{/js/jquery-2.2.3.min.js}"></script>  
<!-- //js -->
<!-- web-fonts -->  
<link th:href="@{http://fonts.googleapis.com/css?family=Open+Sans+Condensed:300,300i,700}" rel="stylesheet"> 
<link th:href='@{http://fonts.googleapis.com/css?family=Roboto:400,100,100italic,300,300italic,400italic,500,500italic,700,700italic,900,900italic}' rel='stylesheet' type='text/css'>
<!-- //web-fonts -->
</head>
<body> 
	<!-- banner -->
	<div class="agileits-banner">  
		<!-- navigation -->
		<div class="top-nav w3-agiletop">
			<div class="container">
				<div class="navbar-header w3llogo">
					<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
						<span class="sr-only">Toggle navigation</span>
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
					</button> 
					<h1><a href="index.html"><span  aria-hidden="true"></span> Cat</a></h1> 
				</div>
				<!-- Collect the nav links, forms, and other content for toggling -->
				<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
					<div class="w3menu navbar-left">
						<ul class="nav navbar">
							<li><a href="index.html">首页</a></li>
							<li><a href="life.html">记录生活</a></li> 
							<li><a href="contact.html" class="active">联系我</a></li>
						</ul>
					</div>
					<div class="w3ls-bnr-icons social-icon navbar-right">
						<a href="#" class="social-button twitter"><i class="fa fa-twitter"></i></a>
						<a href="#" class="social-button facebook"><i class="fa fa-facebook"></i></a> 
						<a href="#" class="social-button google"><i class="fa fa-google-plus"></i></a> 
						<a href="#" class="social-button dribbble"><i class="fa fa-dribbble"></i></a> 
					</div>
					<div class="clearfix"> </div>  
				</div>
			</div>	
		</div>	
		<!-- //navigation --> 
		<div class="banner-w3text w3layouts aboutw3l-bnrtext">
			<h2><span></span></h2>  
		</div>  
	</div>
	<!-- //banner -->  
	<!-- contact -->
	<div class="contact w3-agileits">
		<div class="container">
			<h3 class="agileits-title">Contact Me</h3>  
			<div class="contact-w3lsrow">
				<div class="col-md-6 contact-left wthree">
					<img th:src="@{/img/g7.jpg}" src="img/g7.jpg" style="width:100%;height:auto;">
				</div>
				<div class="col-md-6 contact-right">
						<input type="text" id="Name" name="Name" placeholder="你的名字" required="">
						<input type="text" id="Email" name="Email" placeholder="你的邮箱" required="">
						<input type="text" id="Subject" name="Subject" placeholder="你的组织" required="">
						<textarea name="Message"  id="Message" placeholder="消息" required=""></textarea>
						<input type="button" value="SEND" onclick="send();">
				</div>
				<div class="clearfix"> </div>
			</div>
			<!-- address -->
			<div class="address-agileinfo"> 
				<ul>
					<li><i class="glyphicon glyphicon-map-marker" aria-hidden="true"></i>四川成都</li>
					<li><i class="phon">Call Us :</i>  18483658538</li>
					<li><i class="glyphicon glyphicon-envelope" aria-hidden="true"></i><a href="mailto:info@example.com"> 1019021863@qq.com</a></li>
				</ul>
			 </div>
			<!-- //address --> 
		</div>
	</div>
	<!-- //contact -->   
	<!-- footer -->
	<div class="footer">
		<div class="container">
			<div class="footer-row w3l-newsletter"> 
				<div class="col-md-6 w3_agile_newsletter_left">
					<h4>关于我们</h4>
				</div>
				<div class="col-md-6 w3_agile_newsletter_right">
					<form action="#" method="post">
						<input type="email" name="Email" placeholder="Email..." required="">
						<input type="submit" value="Subscribe">
					</form>
				</div>
				<div class="clearfix"> </div> 
			</div> 
			<div class="footer-bottom">
				<div class="col-sm-4 col-xs-4 footer-grids">
					<p>老天不会辜负努力付出的人</p>
					<h6>consectetur<a href="#"> Christ Richard.</a> </h6>
				</div>
				<div class="col-sm-4 col-xs-4 footer-grids footer-mdl">
					<div class="col-md-6 col-xs-6 grid-left">
						<ul>
							<li><a href="index.html"><i></i>首页</a></li>
							<li><a href="life.html"><i></i>记录生活</a></li>
							<li><a href="contact.html"><i></i>联系我</a></li>
						</ul>	
					</div>
					<div class="col-md-6 col-xs-6 grid-left">
						<ul>
							<li><a href="index.html"><i></i>Index</a></li>
							<li><a href="life.html"><i></i>Life</a></li> 
							<li><a href="contact.html"><i></i>Contact</a></li>
						</ul>	
					</div>
					<div class="clearfix"> </div>
				</div>
				<div class="col-sm-4 col-xs-4 footer-grids">
					<ul>
						<li class="phn"><i></i>18483658538</li>
						<li>1019021863@qq.com</li>
					</ul>
					<!-- <p>Copyright &copy; 2017.Company name All rights reserved.More Templates <a href="http://www.cssmoban.com/" target="_blank" title="模板之家">模板之家</a> - Collect from <a href="http://www.cssmoban.com/" title="网页模板" target="_blank">网页模板</a></p> -->
				</div>
				<div class="clearfix"> </div>
			</div>
		</div>
	</div>
	<!-- footer -->  
	<!-- start-smooth-scrolling -->
	<script type="text/javascript" th:src="@{/js/SmoothScroll.min.js}" src="js/SmoothScroll.min.js"></script> 
	<script type="text/javascript" th:src="@{/js/move-top.js}" src="js/move-top.js"></script>
	<script type="text/javascript" th:src="@{/js/easing.js}" src="js/easing.js"></script>	
	<script type="text/javascript">
			jQuery(document).ready(function($) {
				$(".scroll").click(function(event){		
					event.preventDefault();
			
			$('html,body').animate({scrollTop:$(this.hash).offset().top},1000);
				});
			});
	</script>
	<!-- //end-smooth-scrolling -->	
	<!-- smooth-scrolling-of-move-up -->
	<script type="text/javascript">
		$(document).ready(function() {
			/*
			var defaults = {
				containerID: 'toTop', // fading element id
				containerHoverID: 'toTopHover', // fading element hover id
				scrollSpeed: 1200,
				easingType: 'linear' 
			};
			*/
			
			$().UItoTop({ easingType: 'easeOutQuart' });
			
		});
	</script>
	
	<script type="text/javascript">
		function send() {
			var name = $("#name").val();
    		var Email = $("#Email").val();
			var Subject = $("#Subject").val();
			var Message = $("#Message").val();
    		if (name == null || name == "" || name == "undefined" || Email == null || Email == "" || Email == "undefined") {
    			alert("请填写姓名和邮箱");
    			return false;
    		}
    		$.ajax({
    			type:"POST",
    			url:"http://localhost:8080/contact/sentContact",
    			data:{"name":name,"Email":Email,"Subject":Subject,"Message":Message},
    			dataType:"json",
				xhrFields:{withCredentials:true},
    			success:function(data){
    				if (data.stauts == "success") {
    					alert(data.data.msg)
    				} else {
    					alert(data.data.errorMsg)
    				}
    			}
    		})
		}
	</script>
	<!-- //smooth-scrolling-of-move-up -->    
	<!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script th:src="@{/js/bootstrap.js}" src="js/bootstrap.js"></script>
</body>
</html>