<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
<title>旅游详情</title>
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="keywords" content="" />
<script type="application/x-javascript"> addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false); function hideURLbar(){ window.scrollTo(0,1); } </script>
<!-- Custom Theme files -->
<link href="css/bootstrap.css" th:href="@{/css/bootstrap.css}" type="text/css" rel="stylesheet" media="all">
<link href="css/style.css" th:href="@{/css/style.css}"  type="text/css" rel="stylesheet" media="all">   
<link href="css/font-awesome.css" th:href="@{/css/font-awesome.css}" rel="stylesheet"> <!-- font-awesome icons -->
<!-- //Custom Theme files --> 
<!-- js -->
<script src="js/jquery-2.2.3.min.js" th:src="@{/js/jquery-2.2.3.min.js}"></script>  
<!-- //js -->
<!-- web-fonts -->  
<link th:href="@{http://fonts.googleapis.com/css?family=Open+Sans+Condensed:300,300i,700}" rel="stylesheet"> 
<link th:href='@{http://fonts.googleapis.com/css?family=Roboto:400,100,100italic,300,300italic,400italic,500,500italic,700,700italic,900,900italic}' rel='stylesheet' type='text/css'>
<!-- //web-fonts -->
</head>
<body> 
	<!-- banner -->
	<div class="agileits-banner w3-agileabout-banner">  
		<!-- navigation -->
		<div class="top-nav w3-agiletop">
			<div class="container">
				<div class="navbar-header w3llogo">
					<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
						<span class="sr-only">旅游详情页</span>
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
					</button> 
					<h1><a href="index.html"><span  aria-hidden="true"></span> Cat</a></h1> 
				</div>
				<!-- Collect the nav links, forms, and other content for toggling -->
				<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
					<div class="w3menu navbar-left">
						<ul class="nav navbar">
							<li><a href="index.html">首页</a></li>
							<li><a href="life.html" class="active">记录生活</a></li> 
							<li><a href="contact.html">联系我</a></li>
						</ul>
					</div>
					<div class="w3ls-bnr-icons social-icon navbar-right">
						<a href="#" class="social-button twitter"><i class="fa fa-twitter"></i></a>
						<a href="#" class="social-button facebook"><i class="fa fa-facebook"></i></a> 
						<a href="#" class="social-button google"><i class="fa fa-google-plus"></i></a> 
						<a href="#" class="social-button dribbble"><i class="fa fa-dribbble"></i></a> 
					</div>
					<div class="clearfix"> </div>  
				</div>
			</div>	
		</div>	
		<!-- //navigation --> 
		<div class="banner-w3text w3layouts aboutw3l-bnrtext">
			<h2><span>life</span></h2>  
		</div>  
	</div>
	<!-- //banner -->  
	<!-- single -->
	<div class="single about">
		<div class="container"> 
			<div class="col-md-7 w3ls_single_left">
				<div class="w3ls_single_left_grid"> 
					<div class="w3ls_single_left_grid_right">
						<h3 id="life_title">第一次到乐山大佛去游玩</h3>
						<h5 id="life_time">2019/4/23</h5>
						<ul>
							<li><span class="glyphicon glyphicon-user" aria-hidden="true"></span><a href="#" id="life_author">Admin</a></li>
							<li><span class="glyphicon glyphicon-envelope" aria-hidden="true"></span><a href="#">2 Comments</a></li>
							<li><span class="glyphicon glyphicon-heart" aria-hidden="true"></span><a href="#">50 Likes</a></li>
							<li><span class="glyphicon glyphicon-tag" aria-hidden="true"></span><a href="#">3 Tags</a></li>
						</ul>
					</div>
					<div class="clearfix"> </div>
				</div>
				<div class="w3ls_single_left_grid1">
					<img id="life_pic" th:src="@{/img/img2.jpg}" src="img/img2.jpg" alt=" " class="img-responsive" />
					<p id="life_context">
						第一段：怎么怎么玩
						<span>第二段：怎么怎么玩</span>
					</p>
					<div class="w3ls_single_left_grid1_left">
						<h4>分享 :</h4>
					</div>
					<div class="w3ls_single_left_grid1_right">
						<div class="social-icon">
							<a href="#" class="social-button twitter"><i class="fa fa-twitter"></i></a>
							<a href="#" class="social-button facebook"><i class="fa fa-facebook"></i></a> 
							<a href="#" class="social-button google"><i class="fa fa-google-plus"></i></a> 
							<a href="#" class="social-button dribbble"><i class="fa fa-dribbble"></i></a> 
						</div> 
					</div>
					<div class="clearfix"> </div> 	
				</div>
				<div class="w3ls_single_left_grid1_left">
					<h4>最精评论 :</h4>
				</div>
				<div class="w3l_admin"> 
					<p><span id="beast_comment_context">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras rhoncus nulla tempus est tempor, sit amet gravida turpis faucibus. Ut rhoncus vehicula sem varius finibus. Mauris ac ullamcorper velit etiam accumsan felis.</span></p>
					<a href="#"><i id="beast_comment_author">John Frank</i></a>
				</div>
			</div>
			<div class="col-md-5 w3ls_single_right"> 
				<div class="wthree_recent">
					<h4>更新日历</h4>
					<ul id="update_info">
						
					</ul>
				</div>
				<div class="agileits-tags">
					<h4>标签</h4>
					<div class="agile_cat_grid_tags">
						<ul id="type_info">
						
						</ul>
					</div>
				</div>
			</div>
			<div class="clearfix"> </div> 
			<div class="agileits_three_comments" id="comment_info">
				<h3>评论</h3>
			</div>
			<div class="w3_leave_comment">
				<h3>发表你的 <span>意见</span></h3> 
				<form action="#" method="post">
					<textarea placeholder="说你想说的" name="Message" required=""></textarea>
					<input type="submit" value="提交">
				</form>
			</div>
		</div>
	</div>
	<!-- //single -->   
	<div class="footer">
		<div class="container">
			<div class="footer-row w3l-newsletter"> 
				<div class="col-md-6 w3_agile_newsletter_left">
					<h4>关于我们</h4>
				</div>
				<div class="col-md-6 w3_agile_newsletter_right">
					<form action="#" method="post">
						<input type="email" name="Email" placeholder="Email..." required="">
						<input type="submit" value="Subscribe">
					</form>
				</div>
				<div class="clearfix"> </div> 
			</div> 
			<div class="footer-bottom">
				<div class="col-sm-4 col-xs-4 footer-grids">
					<p>老天不会辜负努力付出的人</p>
					<h6>consectetur<a href="#"> Christ Richard.</a> </h6>
				</div>
				<div class="col-sm-4 col-xs-4 footer-grids footer-mdl">
					<div class="col-md-6 col-xs-6 grid-left">
						<ul>
							<li><a href="index.html"><i></i>首页</a></li>
							<li><a href="life.html"><i></i>记录生活</a></li>
							<li><a href="contact.html"><i></i>联系我</a></li>
						</ul>	
					</div>
					<div class="col-md-6 col-xs-6 grid-left">
						<ul>
							<li><a href="index.html"><i></i>Index</a></li>
							<li><a href="life.html"><i></i>Life</a></li> 
							<li><a href="contact.html"><i></i>Contact</a></li>
						</ul>	
					</div>
					<div class="clearfix"> </div>
				</div>
				<div class="col-sm-4 col-xs-4 footer-grids">
					<ul>
						<li class="phn"><i></i>18483658538</li>
						<li>1019021863@qq.com</li>
					</ul>
					<!-- <p>Copyright &copy; 2017.Company name All rights reserved.More Templates <a href="http://www.cssmoban.com/" target="_blank" title="模板之家">模板之家</a> - Collect from <a href="http://www.cssmoban.com/" title="网页模板" target="_blank">网页模板</a></p> -->
				</div>
				<div class="clearfix"> </div>
			</div>
		</div>
	</div>
	<!-- footer -->  
	<!-- start-smooth-scrolling -->
	<script type="text/javascript" th:src="@{/js/SmoothScroll.min.js}" src="js/SmoothScroll.min.js"></script> 
	<script type="text/javascript" th:src="@{/js/move-top.js}" src="js/move-top.js"></script>
	<script type="text/javascript" th:src="@{/js/easing.js}" src="js/easing.js"></script>	
	<script type="text/javascript">
			jQuery(document).ready(function($) {
				$(".scroll").click(function(event){		
					event.preventDefault();
			
			$('html,body').animate({scrollTop:$(this.hash).offset().top},1000);
				});
			});
	</script>
	<!-- //end-smooth-scrolling -->	
	<!-- smooth-scrolling-of-move-up -->
	<script type="text/javascript">
		$(document).ready(function() {
			/*
			var defaults = {
				containerID: 'toTop', // fading element id
				containerHoverID: 'toTopHover', // fading element hover id
				scrollSpeed: 1200,
				easingType: 'linear' 
			};
			*/
			
			$().UItoTop({ easingType: 'easeOutQuart' });
			
		});
	</script>
	<!-- //smooth-scrolling-of-move-up -->    
	<!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script th:src="@{/js/bootstrap.js}" src="js/bootstrap.js"></script>
	<script type="text/javascript">
	
		//获取url的参数的值
		function Request(strName){ 
			var strHref = window.location.href; 
			var intPos = strHref.indexOf("?"); 
			var strRight = strHref.substr(intPos + 1); 
			var arrTmp = strRight.split("&"); 
			for(var i = 0; i < arrTmp.length; i++) { 
				var arrTemp = arrTmp[i].split(":"); 
				if(arrTemp[0].toUpperCase() == strName.toUpperCase()) 
				return arrTemp[1]; 
			} 
			return ""; 
		}
		//获取一个yyyy-mm-dd的时间
		function getTime(datetime) {
			var date = new Date(datetime);
			var year = date.getFullYear();
			var month = date.getMonth();
			var day = date.getDay();
			return year + "-" + month + "-" + day
		}
		
		
		
		function setLifeTOHtml(lifeDetails) {
			//标题
			$("#life_title").html(lifeDetails.title);
			//作者
			$("#life_author").html(lifeDetails.author);
			//时间
			$("#life_time").html(getTime(lifeDetails.time));
			//正文
			$("#life_context").html(lifeDetails.context);
			//封面
			$("#life_pic").attr("src",lifeDetails.imgUrl)
		}
		
		function setLifeCommentToHtml(commen) {
			var str = '';
			if (commen.length ==0 ) {
				str +='<div class="agileits_three_comment_grid">暂无评论</div>'
			} else {
				for(var i=0;i<commen.length;i++) {
					str+='<div class="agileits_three_comment_grid">'
					str+=	'<div class="agileits_tom"> '
					str+=		'<i class="fa fa-user"></i>'
					str+=	'</div>'
					str+=	'<div class="agileits_tom_right">'
					str+=		'<div class="Hardy">'
					str+=			'<h4>'+ commen[i].userName +'</h4>'
					str+=			'<p>'+ getTime(commen[i].time) +'</p>'
					str+=		'</div>'
					str+=		'<div class="reply">'
					str+=			'<a href="#">Reply</a>'
					str+=		'</div>'
					str+=		'<div class="clearfix"> </div>' 
					str+=		'<p class="lorem">'+ commen[i].context +'.</p>'
					str+=	'</div>'
					str+=	'<div class="clearfix"> </div>'
					str+='</div>'
					//最精评论
					if (commen[i].isBetter == 't') {
						$("#beast_comment_context").html(commen[i].context);
						$("#beast_comment_author").html(commen[i].userName);
					}
				}
			}
			$("#comment_info").append(str)
		}
		
		function setUpdateToHtml(updateEvent) {
			var str = ''
			for(var i=0; i< updateEvent.length; i++) {
				str += '<li><a href="#"><i class="glyphicon glyphicon-ok" aria-hidden="true"></i>' + updateEvent[i].updateTitle + '</a><span><i class="glyphicon glyphicon-calendar" aria-hidden="true"></i>'+ getTime(updateEvent[i].updateTime) +'</span></li>'
			}
			$("#update_info").append(str)
		}
		
		
		function setTypeToHtml(type) {
			var str = '';
			for (var i=0;i<type.length;i++) {
				str+='<li><a href="#">'+ type[i].typeName +'</a></li>'
			}
			$("#type_info").append(str);
		}
		
		//通过id获取生活文章详情
		function getLifeById(lifeId) {
			$.ajax({
    			type:"POST",
    			url:"http://localhost:8080/life/getLife",
    			data:{"lifeId":lifeId},
    			dataType:"json",
				xhrFields:{withCredentials:true},
    			success:function(data){
    				if (data.stauts == "success") {
						var dataSource = data.data;
						
						//获取生活详情
						var lifeDetails = dataSource;
						setLifeTOHtml(lifeDetails)
						
						//获取评论
						var commen = dataSource.commentLst;
						setLifeCommentToHtml(commen)
						
						//获取标签
						var type = dataSource.lifeTypeLst;
						setTypeToHtml(type)
						
						//获取更新履历
						var updateEvent = dataSource.lifeUpdateLst
						setUpdateToHtml(updateEvent)
						
    				} else {
    					alert(data.data.errorMsg)
    				}
    			}
    		});
		}
		
		$(function(){
			//生活文章id
			var lifeId = Request('lifeId')
			getLifeById(lifeId);
		})
		
		
	</script>
	
</body>
</html>